<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POST & GET Requests</title>
</head>
<body>
<h1 style="background-color:powderblue;">This is a heading!</h1>   
</body>
<style>
table, th, td {
    border: 2px solid blue;
}
</style>
</html>
